body, html
{
    margin: 0;
}
.no-print, .no-print *
{
    display: none !important;
}
@page {
    size: LETTER portrait;
    margin: 1cm;
}
.print-container
{
    width: 100%;
}
.print-container.landscape
{
    width: 100%;
}
.print-page
{
    width: 100%;
    height: 100%;
    page-break-before: always;
}
.print-container.landscape .print-page
{
    width: 100%;
    height: 100%;
}
.page-break
{
    display: block;
    page-break-before: always;
}
.print-block
{
    page-break-inside: avoid;
}
.table.twin-table
{
    width: 48%;
    max-width: 48%;
}